.container {
  @apply block relative;
  @apply cursor-pointer;
  @apply text-18px leading-22px font-general-sans tracking-[0.04em];
  @apply md:text-16px md:leading-17px;
  @apply lg:text-20px lg:leading-21px;
  @apply pl-30px mb-10px;
  @apply md:pl-40px;
  @apply select-none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container input {
  @apply absolute;
  @apply opacity-0 h-0 w-0;
  @apply cursor-pointer;
}

.checkmark {
  @apply border-2 border-primary;
  @apply bg-white;
  @apply h-21px w-21px;
  @apply absolute top-0 left-0;
}

.container:hover input ~ .checkmark {
  @apply bg-gray-100;
}

.container input:checked ~ .checkmark {
  @apply bg-primary;
}

.checkmark:after {
  content: "";
  @apply absolute hidden;
}

.container input:checked ~ .checkmark:after {
  @apply block;
}

.container .checkmark:after {
  @apply left-[6px] top-[2px] w-5px h-10px;
  @apply border-t-0 border-r-2 border-b-2 border-l-0 border-white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}