.mediaSlider {
  @apply flex flex-col;
  @apply overflow-y-scroll;
  @apply overflow-x-hidden;
  @apply overscroll-contain;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .mediaWrapper {
    @apply min-h-100% min-w-100%;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
  }

  .media {
    @apply object-cover;
    @apply max-h-[100%] min-w-100%;
  }

  video {
    @apply object-fill;
    @apply h-100%;
  }
}

.mediaSlider::-webkit-scrollbar {
  display: none;
}

.fullView {
  @apply w-100vw h-[calc(100vh_-_56px)];
  @apply fixed bottom-0 left-0 top-[56px];
  @apply bg-white;
  @apply flex flex-col items-center;
  @apply cursor-pointer;
  @apply z-10;
  @apply overflow-y-scroll;
  @apply overflow-x-hidden;
  @apply overscroll-contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fullViewMedia {
  @apply md:h-[calc(100vh_-_56px)];
}