.mediaSlider {
  @apply flex;
  @apply lg:flex-col;
  @apply overflow-x-scroll overflow-y-hidden;
  @apply lg:overflow-y-scroll lg:overflow-x-hidden;
  @apply overscroll-contain;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .mediaWrapper {
    @apply min-h-100% min-w-100%;
    @apply flex items-center justify-center;
    @apply cursor-pointer;
    @apply lg:pl-4px;
  }

  .media {
    @apply object-contain;
    @apply max-h-[100%] min-w-100%;
  }

  video {
    @apply h-100%;
  }
}

.mediaSlider::-webkit-scrollbar {
  display: none;
}

.fullViewWrapper {
  @apply w-100vw lg:w-100vw h-[calc(100vh_-_56px)];
  @apply absolute bottom-0 left-0 right-0 top-[56px];
  @apply bg-white;
  @apply flex items-center;
  @apply overflow-hidden;
}

.fullView {
  @apply w-fit;
  @apply flex items-center;
  @apply lg:flex-col;
  @apply cursor-pointer;
  @apply z-10;
  @apply overflow-x-scroll overflow-y-hidden;
  @apply lg:overflow-y-scroll lg:overflow-x-hidden;
  @apply overscroll-contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fullViewMediaWrapper {
  @apply min-w-100vw lg:min-w-auto;
}

.fullViewMedia {
  @apply w-100vw;
  @apply lg:h-[calc(100vh_-_56px)] lg:w-auto;
}

.progress {
  @apply mt-10px lg:mt-0;
  @apply lg:absolute lg:top-[50%] lg:translate-y-[-50%];
  @apply lg:h-[calc(100vh/3)];
  @apply flex gap-10px;
  @apply lg:flex-col
}

.progressItem, .currentProgressItem {
  @apply w-100% h-2px;
  @apply lg:h-100% lg:w-2px;
}

.progressItem {
  @apply bg-[#C0C0C0];
}

.currentProgressItem {
  @apply bg-black;
}