.photoSlider {
  @apply flex flex-col;
  @apply overflow-y-scroll;
  @apply overflow-x-hidden;
  @apply overscroll-contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
  //@apply scroll-smooth;

  .photoWrapper {
    @apply min-h-100% min-w-100%;
    @apply flex items-center justify-center;
  }

  .photo {
    @apply object-cover;
    @apply max-h-[100%] min-w-100%;
  }
}

.photoSlider::-webkit-scrollbar {
  display: none;
}
