@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #{$background-color};
  --primary: #{$primary-color};
  --secondary: #{$secondary-color};
}

body {
  background: #{$background-color};
  color: #{$primary-color};
  font-family: var(--font-sf-pro);
  font-weight: 500;
}

* {
  -webkit-font-smoothing: antialiased;
}
